body {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("/src/assets/img/fondonoti.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.card-noticia {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.card-noticia:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card-noticia img {
  height: 200px;
  object-fit: cover;
}